* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Crucial para que no desborde por la derecha */
}

body {
    background-color: #171616;
    color: #EEE2E2;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
     
}

header {
    position: fixed;
    top: 0;
    width: 100%;     
    padding-top: 2vh;
    padding-left: 2.5%;
    display: flex;     
    justify-content: space-between;
    background: #171616; /* Para que no se vea lo de abajo cuando sehace scroll */
    z-index: 2000 !important; /* A mayor número, jerarquiza lo que se pondrá por delante de lo demás */    
} 

main{        
    width: 70%;    
    
    align-self: flex-start;
    padding-top: 28vh;
    padding-bottom: 15vh;
    padding-left: 5%;    
    font-size: clamp(1.6vw,2.5vw,6vw);
    text-align: justify;
    overflow-y: auto;  
    scrollbar-width: none; /* Oculta la barra en Firefox */
    -ms-overflow-style: none; /* Oculta la barra en IE/Edge */
}
main::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

main::-webkit-scrollbar-thumb {
  background-color: transparent; /* Pulgar transparente */
}

.descripcion{
    padding-top: 5vh;
    padding-bottom: 50vh;
}

h1{    
    width: 75%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: clamp(4vw,10.2vw,12vw); 
    font-weight: 999;
    letter-spacing: -0.09em;        
    line-height: clamp(3vw,7.5vw,20vw);
    user-select: none;
}

h1 .nombre-gris{color: #404040;}

.menu{
    width: 10%;         
    padding-top: 2.3%;         
    align-items: center;
    text-align: center;
    line-height: 0.;
    font-size: clamp(2vw,5vw,9vw);
    user-select: none; 
    cursor: pointer;    
}

.menu img{        
    width: 6vw;          
}

.menu-desplegado {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 15%; 
    height: 100%;
    z-index: 2002 !important; 
    transition: right 0.5s ease-in-out; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

/* Cuando el menú esté activo (clase 'activo' añadida con JS) */
.menu-desplegado.activo {
    right: 0; 
}

.menu-desplegado .menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0; 
     filter: saturate(99%) contrast(75%);
}

.menu-desplegado .items-menu {
    display: flex;
    flex-direction: column;
    gap: 21vh;
    text-align: left;    
    z-index: 1; 
}

.menu-desplegado .items-menu a {
    color: #0000AE; 
    text-decoration: none;
    font-size: clamp(0.8vw,3vw,8vw);
    font-weight: 525;     
}

/* Botón de cerrar*/
.cerrar-menu {         
    position: absolute;
    top: 1%; 
    right: 2.5%; 
    cursor: pointer;
    z-index: 10; 
}

.cerrar-menu img {    
    width: 1.5vw; 
    filter: brightness(100%); 
    transition: transform 0.2s ease-in-out;
}

.cerrar-menu img:hover {
    transform: scale(1.1); 
}

/* Estilos para el contenido que va sobre la imagen que uso en el menú(carta de ajuste vertical) */
.contenido-menu-lateral {
    position: absolute; 
    font-size: 1.8vw; 
    text-align: left;
    width: 80%; 
    max-width: 600px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

.pie-de-pagina{ 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    color:#EEE2E2;     
    z-index: 2001 !important;
    background: #171616;
    padding-left: 2.5%;    
}

.social-iconos {  
    width: 33%;
    display: flex;         
    gap: 0.7vw;             
}

.social-iconos img {
    width: clamp(5vw,10vw,20vw); 
    filter: invert(86%) brightness(100%);
    transition: transform 0.2s ease-in-out;
}

.legal { 
    position: fixed; 
    bottom: 0%; 
    right: 0.5%;    
    display: flex;
    flex-direction: column;
    font-size: clamp(1vw,9vw);
    align-items: flex-end; 
    text-align: right;    
    line-height: 1.9;
    color: gray; 
    z-index: 2003 !important; 
    transition: color 0.3s ease-in-out; 
}

.legal a { 
    text-decoration: none;
    color: inherit; 
}

/* Cambia el color de los textos de .legal para que se vean cuando se despliega el menú */
.legal.menu-abierto { 
    color: white !important;    
}

@media screen and (max-width: 1000px) {

    header h1 {
        margin-right: 20%;
        width: 20%;
        /*font-size: 10vw;*/
        /*line-height: 1.8rem;*/
    }

        main{
        /*font-size: 1.1rem;*/    
        width: 68%;
        padding-top: 25%; 
        padding-left: 3%;                 
    }

    .menu{
        width: 18%;
        line-height:1;
        /*font-size: 4.5vw;*/
    }
    .menu img{
        width: 80%;
    }

    .menu-desplegado {    
    right: -100%; 
    width: 30%;     
    }

    .cerrar-menu img {
    width: 6.5vw;
    }
    .menu-desplegado .items-menu {   
    align-items: center;    
    gap: 35vw;     
    }
    .menu-desplegado .items-menu a {    
    /*font-size: 4.2vw;*/  
    font-weight: 555;   
    }    

    .pie-de-pagina{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 70%;
        z-index: 2001 !important; 
    }

    .legal{
        line-height: 7vw;
        /*font-size: 2.6vw;*/
        position: fixed; 
        bottom: 0.6%; 
        right: 4%;            
        z-index: 2003 !important; 
    }

    .social-iconos{
        gap: 5vw;
        /*width: 70%;*/
    }

    .social-iconos img{
        /*width: 100%;*/
    }
}

@media screen and (orientation: landscape ) and (max-height: 750px) {

    header h1 {
        margin-right: 20%;
        width: 20%;
       /* font-size: 10.1vw;*/
    }

    main{
        width: 68%;
        /*font-size: 4.2vw;*/
        padding-top: 25%; 
        padding-left: 3%;                 
    }

    .menu{
        width: 18%;
        line-height:1;
        /*font-size: 4.5vw;*/
    }
    .menu img{
        width: 80%;
    }

    .menu-desplegado {    
    right: -100%; 
    width: 23%;     
}

    .cerrar-menu img {
    width: 3.5vw;
    }
    .menu-desplegado .items-menu {   
    align-items: center; 
    font-weight: 555;
    gap: 9vw;     
    }

    .menu-desplegado .items-menu a {    
    /*font-size: 1.5em;*/     
    }

    .pie-de-pagina{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 70%;
        z-index: 2001 !important; 
    }

    .legal{
        flex-direction: row; 
        gap: 2em;
        /*font-size: 1.6vw;*/                 
        z-index: 2003 !important; 
        align-items: flex-end;
        line-height: 2;
        text-align: right;
        right: 0;
        
    }

    .social-iconos{
        gap: 5vw;
        width: 40%;
    }

    .social-iconos img{
        width: 100%;
    }
}