* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Crucial para que no desborde por la derecha */   
}

body {
    background-color: black;
    color: #EEE2E2;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.6;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Empuja el footer hacia abajo */
    
}
 
main{
    
    display: block;
    flex-grow: 1; /* Empuja el footer hacia abajo */
    padding-top: 20vw;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 30%;
    font-size: 1.6vw;
    text-align: justify;
}

header {
    position: fixed;
    width: 100%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    line-height:0.85;
    display: flex;    
    justify-content: space-between;
    background: black; /* Para que no se vea lo de abajo cuando sehace scroll */
    z-index: 2000; /* Prioriza el contenido de esto sobre lo que esté debajo*/    
}   

h1{   
    width: 75%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 7.8vw; 
    font-weight: 999;
    letter-spacing: -0.09em;    
    line-height: 0.80em;
    user-select: none;
}

h1 .nombre-gris{color: #404040;}

.menu{
    width: 10%;    
    padding-top: 2.3%;    
    align-items: center;
    text-align: center;
    line-height: 0.;
    font-size: 2vw;
    user-select: none;   
}

.menu img{    
    width: 6vw;       
}

.pie-de-pagina{ 
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:#EEE2E2;
    font-size: 1.2vw;
    z-index: 1000; 
    line-height: 0.8;
    background: black;
    padding-right: 2.5%;
    padding-bottom: 0.6%;
}

.social-iconos {
    width: 33%;
    display: flex;    
    padding-left: 2.5%;
    gap: 0.7vw;
        
}

.social-iconos img {
    width: 3.2vw; 
    max-width: 100%;
    filter: invert(86%) brightness(100%);
    transition: transform 0.2s ease-in-out;
}

.legal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    min-width: 60px;
    max-width: 250px; 
    flex-shrink: 0;    
    line-height: 1.2;   
}

.legal a {
    
    text-decoration: none;
    color: grey;    
}

@media screen and (max-width: 950px) {

    header h1 {
        font-size: 11.2vw;
    }
    .menu{
        width: 18%;
        line-height:1;
        font-size: 4.5vw;
    }
    .menu img{
        width: 80%;
    }

    main{
       font-size: 4.5vw;
       padding-top: 25%; 
       padding-right: 25%;     
    }

    .pie-de-pagina{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .legal{
        font-size: 3.6vw;
    }

    .social-iconos{
        gap: 5vw;
        width: 40%;
    }

    .social-iconos img{
        width: 100%;
    }
}
