* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Crucial para que no desborde por la derecha */
}

body {
    background-color: #171616;
    color: #EEE2E2;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.6;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Empuja el footer hacia abajo */
}

main{
    width: 60%;
    display: block;
    flex-grow: 1;  /* Empuja el footer hacia abajo */
    padding-top: 17.5vw;
    padding-bottom: 2%;
    padding-left: 5%;    
    font-size: 1.6vw;
    text-align: justify;
}

header {
    position: fixed;
    width: 100%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    line-height:0.85;
    display: flex;     
    justify-content: space-between;
    background: #171616; /* Para que no se vea lo de abajo cuando sehace scroll */
    z-index: 2000 !important; /* A mayor número, jerarquiza lo que se pondrá por delante de lo demás */    
} 

h1{    
    width: 75%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 7.8vw; 
    font-weight: 999;
    letter-spacing: -0.09em;        
    line-height: 0.80em;
    user-select: none;
}

h1 .nombre-gris{color: #404040;}

.menu{
    width: 10%;         
    padding-top: 2.3%;         
    align-items: center;
    text-align: center;
    line-height: 0.;
    font-size: 2vw;
    user-select: none; 
    cursor: pointer;    
}

.menu img{        
    width: 6vw;          
}

.menu-desplegado {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 15%; 
    height: 100%;
    z-index: 2002 !important; 
    transition: right 0.5s ease-in-out; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

/* Cuando el menú esté activo (clase 'activo' añadida con JS) */
.menu-desplegado.activo {
    right: 0; 
}

.menu-desplegado .menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0; 
}

.menu-desplegado .items-menu {
    display: flex;
    flex-direction: column;
    gap: 12vw; 
    text-align: center;
    align-items: flex-start;
    z-index: 1; 
}

.menu-desplegado .items-menu a {
    color: blue; 
    text-decoration: none;
    font-size: 2vw; 
}

/* Botón de cerrar*/
.cerrar-menu {         
    position: absolute;
    top: 2.5%; 
    right: 2.5%; 
    cursor: pointer;
    z-index: 10; 
}

.cerrar-menu img {
    width: 1.5vw; 
    filter: invert(86%) brightness(100%); 
    transition: transform 0.2s ease-in-out;
}

.cerrar-menu img:hover {
    transform: scale(1.1); 
}

/* Estilos para el contenido que va sobre la imagen que uso en el menú(carta de ajuste vertical) */
.contenido-menu-lateral {
    position: absolute; 
    color: blue; 
    font-size: 1.8vw; 
    text-align: center;
    width: 80%; 
    max-width: 600px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

.pie-de-pagina{ 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    color:#EEE2E2;     
    z-index: 2001 !important;
    line-height: 0.8;
    background: #171616;
    padding-right: 2%;
    padding-bottom: 0.6%;
}

.social-iconos {
    width: 33%;
    display: flex;         
    padding-left: 2.5%;
    gap: 0.7vw;             
}

.social-iconos img {
    width: 3.2vw; 
    max-width: 100%;
    filter: invert(86%) brightness(100%);
    transition: transform 0.2s ease-in-out;
}

.legal { 
    position: fixed; 
    bottom: 0.6%; 
    right: 2%;    
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    align-items: flex-end; 
    text-align: right;
    min-width: 60px;
    max-width: 250px; 
    line-height: 1.2;
    color: gray; 
    z-index: 2003 !important; 
    transition: color 0.3s ease-in-out; 
}

.legal a { 
    text-decoration: none;
    color: inherit; 
}

/* Cambia el color de los textos de .legal para que se vean cuando se despliega el menú */
.legal.menu-abierto { 
    color: white !important;    
}

@media screen and (max-width: 950px) {

    header h1 {
        font-size: 11.2vw;
    }
    .menu{
        width: 18%;
        line-height:1;
        font-size: 4.5vw;
    }
    .menu img{
        width: 80%;
    }

    main{
        font-size: 4.5vw;
        padding-top: 25%; 
        padding-right: 25%;         
    }

    .pie-de-pagina{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2001 !important; 
    }

    .legal{
        font-size: 3.6vw;
        position: fixed; 
        bottom: 0.6%; 
        right: 2%;            
        z-index: 2003 !important; 
    }

    .social-iconos{
        gap: 5vw;
        width: 40%;
    }

    .social-iconos img{
        width: 100%;
    }
}